﻿body {
}
        @media print
           {
          .btnhide
            {
         display:none;
             }
            }
        
    .tbl_bg {
        padding: 4px;
        background-color: #48839e;
    }

    .mod_head {
        font-size: 14px;
        line-height: 20px;
    }

    .t_txt {
        font-size: 13px;
        color: white;
    }

    span {
        font-family: verdana;
        font-size: 14px;
        /*background-image: linear-gradient(to left, #05567a, #0f5e82, #17658a, #1e6d92, #25759a);*/
    }

    .mtbm {
        margin-bottom: 20px;
        /*border-bottom: 1px dashed #ccc;*/
        background-color: #f7e8e9;
        padding: 8px;
    }

    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3px;
    }

    .container-yellow {
        background-color: #284c720a;
        box-shadow: -1px 1px 4px #aaaaaa;
        padding: 15px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .bar {
        max-width: 100% !important;
        width: 55%;
        height: 31px;
        padding: 0px 20px;
        margin: -2px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .ks {
        max-width: 100% !important;
        width: 100%;
        padding: 3px 20px;
        margin: -2px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .btnn {
        color: white;
        padding: 6px 9px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    table {
        width: 100%;
    }

    #example_filter {
        float: right;
    }

    #example_paginate {
        float: right;
    }

    label {
        display: inline-flex;
        margin-bottom: .5rem;
        margin-top: .5rem;
    }