﻿
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/dashboard.cshtml";
}

<style>


    .error {
        color: red;
        border: 1px solid red;
        position: absolute;
        margin-left: 6px;
        height: 25px;
    }
</style>
<div class="main">

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">


            <div class="row">
                <div class="col-md-12">
                    <!-- PANEL HEADLINE -->
                    <div class="panel panel-headline">
                        <div class="panel-heading">
                            <h3 class="panel-title">Send a common mail for all registered customers </h3>

                        </div>
                        <div class="panel-body">

                            <div class="col-lg-12 col-sm-12 col-xs-12 ">
                                <div class="hd_titl"></div>
                                <div class="card">
                                    <div class="form " style="padding-right: 20px;  padding-left: 20px;">
                                        <div class="row box fw header">

                                            <div class="col-lg-4 col-md-4  col-sm-12 col-xs-12">
                                                <label for="fname">Old Password:</label>
                                                <input type="password" class="form-control" value="" id="oldpwd" />
                                            </div>

                                        </div>
                                        <div class="row box fw header" style="margin-top: 20px;">
                                            <div class="col-lg-4 col-md-4  col-sm-12 col-xs-12">


                                                <label for="fname">New Password:</label>
                                                <input type="password" class="form-control" value="" id="newpwd" />

                                            </div>

                                        </div>

                                        <div class="row box fw header" style="margin-top: 20px;">
                                            <div class="col-lg-4 col-md-4  col-sm-12 col-xs-12">
                                                <label for="fname">Confirm Password:</label>
                                                <input type="password" class="form-control" value="" id="conpwd" />
                                            </div>
                                        </div>
                                        <div class="row box fw header" style="margin-top: 20px;">

                                            <div class="col-lg-3 col-md-3   col-sm-12 col-xs-12">
                                                <input type="button" id="chngpwd" value="Change Password" name="ctl00$ContentPlaceHolder1$Button1" class="btn btn-success mt-lft" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function ()
    {
        debugger;
        var url = window.location.href;
        var value = url.substring(url.lastIndexOf('/') + 1);
        var data1 = $("#hdnusrname").val(value);
        if (value == "")
        {
            $("#oldddpwd").css('display', 'none');
            $("#resetpwd").css('display', 'block');
            $("#chngpwd").css('display', 'none');
        }
        else
        {

        }
        $("#chngpwd").on('click', function ()
        {
            debugger;
            var url = window.location.href;
            var id = url.substring(url.lastIndexOf('/') + 1);
            var daadat = validationchange();
            if (daadat.length==1)
            {
                return true;
            }
            else
            {
            var pwddata =
              {
                  Usr_Id: id,
                  Pwd:$("#oldpwd").val(),
                  ConfmPwd: $("#newpwd").val()
              };

                $.ajax({
                    type: "POST",
                    url: "/dashboard/ChangesPassword",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({ therole: pwddata }),
                    error: function (response) {
                        alert(response);
                        location.href("/login/index");
                    },
                    success: function (response) {
                        alert(response);
                    }
                });

    }
        });
        $("#resetpwd").on('click', function () {
            debugger;
            var url = window.location.href;
            var parts = url.split("/");
            var usrnm = parts[parts.length - 2];
            var daadat = validationreset();
            if (daadat.length == 1) {
                return true;
            }

            else {
                var pwddata =
              {
                  Usr_Nm: usrnm,
                  ConfmPwd: $("#newpwd").val()
              };

                $.ajax({
                    type: "POST",
                    url: "/dashboarrd/ChangePassword",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({ theUser: pwddata }),
                    error: function (response) {
                        alert(response);
                    },
                    success: function (response) {
                        alert(response);
                        // window.location.href = "/User/NewUser/ViewUser";
                    }
                });
            }
        });
        })
    function  validationchange()
    {
        debugger;
        var oldpsswd = $("#oldpwd").val();
        var newpsswd = $("#newpwd").val();
        var conpsswd = $("#conpwd").val();
        $('.error').hide();
        var pwdRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,15}$/;
        if (oldpsswd == "" || newpsswd == "" || conpsswd=="")
        {
            if (oldpsswd == "")
            {
                $('#oldpwd').after('<span class="error"> Please give your old password </span>');
            }
            if (newpsswd == "")
            {
                $('#newpwd').after('<span class="error"> Please give a New password </span>');
            }
            if (conpsswd == "") {
                $('#conpwd').after('<span class="error"> Please give a Confirm password </span>');
            }
        }
        else if (!pwdRegex.test(newpsswd) || !pwdRegex.test(conpsswd))
        {
            if (!pwdRegex.test(newpsswd))
            {
                $('#newpwd').after('<span class="error"> Password contains 6 digits with uppercase, lowercase and number </span>');
            }
            if (!pwdRegex.test(conpsswd)) {
                $('#conpwd').after('<span class="error"> Password contains 6 digits with uppercase, lowercase and number </span>');
            }
        }
        else if (newpsswd != conpsswd)
        {
            $('#conpwd').after('<span class="error"> Password did not match </span>');
        }
        else {
            return 1;
        }
    }
    function validationreset() {
        debugger;

        var newpsswd = $("#newpwd").val();
        var conpsswd = $("#conpwd").val();

        var pwdRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,15}$/;
        $('.error').hide();
        if (newpsswd == "" || conpsswd == "") {
            if (newpsswd == "") {
                $('#newpwd').after('<span class="error"> Please give a New password </span>');
            }
            if (conpsswd == "") {
                $('#conpwd').after('<span class="error"> Please give a Confirm password </span>');
            }
        }
        else if (!pwdRegex.test(newpsswd) || !pwdRegex.test(conpsswd)) {
            if (!pwdRegex.test(newpsswd)) {
                $('#newpwd').after('<span class="error"> Password contains 6 digits with uppercase, lowercase and number </span>');
            }
            if (!pwdRegex.test(conpsswd)) {
                $('#conpwd').after('<span class="error"> Password contains 6 digits with uppercase, lowercase and number </span>');
            }
        }
        else if (newpsswd != conpsswd) {
            $('#conpwd').after('<span class="error"> Password did not match </span>');
        }
        else {
            return 1;
        }
    }
</script>

