﻿
@{
    ViewBag.Title = "CustomerRegistration";
    Layout = "~/Views/Shared/dashboard.cshtml";
}

@model FIRSTPAGE.Models.Admin

    <div class="main">

        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- PANEL HEADLINE -->
                        <div class="panel panel-headline">
                            <div class="panel-heading">
                                <h3 class="panel-title">Registrater a customer here</h3>

                            </div>
                            <div class="panel-body">
                    
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Customer</button><br /><br />
                              <div style="overflow-x:auto">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                            <th>
                                                Phone
                                            </th>
                                            <th>
                                                Address
                                            </th>

                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody"></tbody>
                                </table>
                                </div>
                            </div>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            @*<button type="button" class="close" data-diss miss="modal"><span aria-hidden="true">&times;</span></button>*@
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Add Customer</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="Id">ID</label>
                                                    <input type="text" class="form-control" id="ID" placeholder="Id" disabled="disabled" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">Name</label>
                                                    <input type="text" class="form-control" id="Name" placeholder="Name" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="Email">Email</label>
                                                    <input type="text" class="form-control" id="Email" placeholder="Email" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="Phone">Phone</label>
                                                    <input type="text" class="form-control" id="mob" placeholder="Phone" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="UserId">Address</label>
                                                    <input type="text" class="form-control" id="UserId" placeholder="Address" />
                                                </div>

                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="btn_Submit">Add</button>
                                            <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript">

    //function showpreview3(input) {
    //    if (input.files && input.files[0]) {
    //        var reader = new FileReader();
    //        reader.onload = function (e) {
    //            $('#<%=img3.ClientID%>').css('visibility', 'visible');
    //            $('#<%=img3.ClientID%>').attr('src', e.target.result);
    //            document.getElementById('imgname').value = reader.value;
    //        }
    //        reader.readAsDataURL(input.files[0]);
    //    }
    //    else {
    //        $('#<%=img3.ClientID%>').css('visibility', 'hidden');
    //    }
    //}
    //Add Data Function Usr_Id, Name, image, Email, Phone, Address, Usr_Nm, Pwd, IsActive, IsDelete, AddOn, AddBy, ModOn, ModBy, EmpCode

    $(document).ready(function () {

        loadData();


    });

    $("#btn_Submit").click(function () {
        var res = validate();
        if (res == false) {
            return false;
        }
        var Name = $("#Name").val();
        var Email = $('#Email').val();
        var Phone = $("#mob").val();
        var Usr_Nm = $("#UserId").val()

        // insDetails = new Array();
        var ins = {
            Name: Name,
            Email: Email,
            mob: Phone,
            Address: Usr_Nm,
        }
        $.ajax({
            type: "POST",
            url: "/dashboard/InsertCustomer/",
            data: JSON.stringify(ins),
            contentType: "application/json; charset=utf-8",
            dataType: "JSON",
            success: function (response) {
                alert("Added Successfully")
                loadData();
                $('#myModal').modal('hide');
                clearTextBox();

            },
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response);
            }
        })
    })


    function loadData() {
        debugger;
        $.ajax({
            url: "/dashboard/SelectCustomer",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.id + '</td>';
                    html += '<td>' + item.Name + '</td>';
                    html += '<td>' + item.Email + '</td>';
                    html += '<td>' + item.mob + '</td>';
                    html += '<td>' + item.Address + '</td>';
                    html += '<td><a href="#" onclick="return getbyID(' + item.id + ')">Edit</a> | <a href="#" onclick="Delele(' + item.id + ')">Delete</a></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    //Function for getting the Data Based upon Employee ID
    function getbyID(id) {

        $('#Name').css('border-color', 'lightgrey');
        $('#Email').css('border-color', 'lightgrey');
        $('#mob').css('border-color', 'lightgrey');
        $('#UserId').css('border-color', 'lightgrey');
        $.ajax({
            url: "/dashboard/getbyCustmerID/" + id,
            typr: "POST",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                debugger;
                $("#ID").val(response[0].id);
                $("#Name").val(response[0].Name);
                $("#Email").val(response[0].Email);
                $("#mob").val(response[0].mob);
                $("#UserId").val(response[0].Address);
                $('#myModal').modal('show');
                $('#btnUpdate').show();
                $('#btn_Submit').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    //function for updating employee's record
    function Update() {
        debugger;
        var res = validate();
        if (res == false) {
            return false;
        }
        var ID = $("#ID").val();
        var Email = $('#Email').val();
        var Name = $("#Name").val();
        var Phone = $("#mob").val()
        var Usr_Nm = $("#UserId").val();
        // insDetails = new Array();
        var empObj = {
            id : ID,
            Name: Name,
            Email: Email,
            mob: Phone,
            Address: Usr_Nm,

        }

        $.ajax({
            url: "/dashboard/InsertCustomer",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                loadData();
                $('#myModal').modal('hide');
                clearTextBox();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //function for deleting employee's record
    function Delele(id) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            $.ajax({
                url: "/dashboard/DeleteCustomer/" + id,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    alert(result);
                    loadData();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }

    //Function for clearing the textboxes
    function clearTextBox() {
        $('#ID').val("");
        $('#Name').val("");
        $('#Email').val("");
        $('#mob').val("");
        $('#UserId').val("");
        $('#btnUpdate').hide();
        $('#btn_Submit').show();
        $('#Name').css('border-color', 'lightgrey');
        $('#Email').css('border-color', 'lightgrey');
        $('#mob').css('border-color', 'lightgrey');
        $('#UserId').css('border-color', 'lightgrey');
    }
    //Valdidation using jquery
    function validate() {
        var isValid = true;
        if ($('#Name').val().trim() == "") {
            $('#Name').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Name').css('border-color', 'lightgrey');
        }
        if ($('#Email').val().trim() == "") {
            $('#Email').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Email').css('border-color', 'lightgrey');
        }
        if ($('#mob').val().trim() == "") {
            $('#mob').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#mob').css('border-color', 'lightgrey');
        }
        if ($('#UserId').val().trim() == "") {
            $('#UserId').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#UserId').css('border-color', 'lightgrey');
        }
        return isValid;
    }
</script>



