﻿
@{
    ViewBag.Title = "FeedBack_Details";
    Layout = "~/Views/Shared/dashboard.cshtml";
}

<div class="main">

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- PANEL HEADLINE -->
                    <div class="panel panel-headline">
                        <div class="panel-heading">
                            <h3 class="panel-title">Manage feedbacks</h3>

                        </div>
                        <div class="panel-body">

                            <div style="overflow-x:auto">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                ID
                                            </th>

                                            <th>
                                                name
                                            </th>
                                            <th>
                                                email
                                            </th>
                                            <th>
                                                feedback
                                            </th>
                                            <th>
                                                phone
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


    $(document).ready(function () {


        loadData();

    });
    function loadData() {

        debugger;
        $.ajax({
            url: "/dashboard/SelectFeedBackDetails",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.id + '</td>';
                    html += '<td>' + item.name + '</td>';
                    html += '<td>' + item.email + '</td>';
                    html += '<td>' + item.feedback + '</td>';
                    html += '<td>' + item.mob + '</td>';
                    html += '<td><a href="#" id="isrespond" class="btn btn-success" onclick="return visibility(' + item.id + ')">Got Respond??</a></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function visibility(id) {
        var ans = confirm("Are you sure you got response for this mail and wanna clear history??");
        if (ans) {
            $.ajax({
                url: "/dashboard/DisableFeedBack/" + id,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    alert(result);
                    loadData();

                    $('#isrespond').css('visibility', 'hidden');
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }
</script>