﻿
@{
    ViewBag.Title = "Myprofile";
    Layout = "~/Views/Shared/dashboard.cshtml";
}

<style>

    .btn-lg {
        padding: 6px 10px !important;
        font-size: 12px !important;
        line-height: 1.33 !important;
        border-radius: 6px !important;
    }

    .img-circle {
        border-radius: 50%;
        height: 170px;
        margin-top: -80px;
        width: 170px;
    }

    .btn-bs-file {
        position: relative;
        margin-top: 0;
    }

        .btn-bs-file input[type="file"] {
            position: absolute;
            top: -9999999;
            filter: alpha(opacity=0);
            opacity: 0;
            width: 0;
            height: 0;
            outline: none;
            cursor: inherit;
        }
        .odd{background: #eee;
    padding: 16px 15px 5px;
    margin-bottom: 10px;}
        .even{background: #fff;
    padding: 16px 15px 5px;
    margin-bottom: 10px;}
        
</style>
<div class="main">

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">


            <div class="row">
                <div class="col-md-12">
                    <!-- PANEL HEADLINE -->
                    <div class="panel panel-headline">
                        <div class="panel-heading">
                            <h3 class="panel-title">My Profile</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12 col-sm-12 col-xs-12 ">
                     
                                <div class="card">
                
                                    <div class="row ppaddng">
                                        <div class="col-lg-12 col-xs-12 col-sm-12 odd">

                                            <div class="col-lg-6 col-xs-12 col-sm-12">
                                                <p class="profile-content" align="center">
                                                    <b>Name</b> : <span id="lbl_name"></span>
                                                </p>
                                            </div>
                                            <div class="col-lg-6 col-xs-12 col-sm-12">
                                                <p class="profile-content" align="center">
                                                    <b>Email Id</b> : <span id="lbl_Emailid"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ppaddng" style="margin-bottom:40px">
                                        <div class="col-lg-12 col-xs-12 col-sm-12 even">
                                            <div class="col-lg-6 col-xs-12 col-sm-12">
                                                <p class="profile-content" align="center">
                                                    <b>User Name</b> : <span id="lbl_Username"></span>
                                                </p>
                                            </div>
                                            <div class="col-lg-6 col-xs-12 col-sm-12">
                                                <p class="profile-content" align="center">
                                                    <b>Phone No</b> : <span id="lbl_PhoneNo"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        getUserDetailsByLoggedInUser();


        $("#btn_Submit").click(function () {
            debugger;
            ImageUpload();
        })


        var readURL = function (input) {
            debugger;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        // btn_FileUpload
        $(".file-upload").on('change', function () {
            debugger;
            readURL(this);
        });



    });


    function ImageUpload() {
        if (confirm("Are you sure wants to change ?")) {
            debugger;
            var fileData = new FormData();
            var files = $("#profilePicture").get(0).files;
            if (files.length > 0) {
                fileData.append(files[0].name, files[0]);
            }
            $.ajax({
                type: "POST",
                url: "/dashboard/ProfilepicUpdate",
                processData: false,
                contentType: false,
                data: fileData,
                success: function (response) {
                    alert(response);
                    getUserDetailsByLoggedInUser();
                    location.reload();
                },
                failure: function (response) {
                    alert(response);
                },
                error: function (response) {
                    alert(response);
                }
            });
        }
        else {
            $('#btnDiscard').click();
        }
    }

    function getUserDetailsByLoggedInUser() {
        debugger;
        $.ajax({
            type: "GET",
            url: "/login/SelectAdminbyloginid",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                debugger;
                $("#lbl_Username").text(response[0].Usr_Nm);
                $("#lbl_Name").text(response[0].Name);
                  $("#lbl_name").text(response[0].Name);
                $("#lbl_Emailid").text(response[0].Email);
                $("#lbl_PhoneNo").text(response[0].Phone);
                //$("#image" + i).attr("src", 'data:image/png;base64,' + response[0].image);

                if (response[0].image != ""|| response[0].image != "Nan" || response[0].image != null) {
                    $("#imgProfile11").attr('src', response[0].image);
                }
                else {
                    $("#imgProfile11").attr('src', "http://ssl.gstatic.com/accounts/ui/avatar_2x.png");
                }
                $imgSrc = $("#imgProfile11").attr('src');
            },
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response);
            }
        });
    }
</script>

