﻿
@{
    ViewBag.Title = "SendCommonMail";
    Layout = "~/Views/Shared/dashboard.cshtml";
}


<div class="main">

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">


            <div class="row">
                <div class="col-md-12">
                    <!-- PANEL HEADLINE -->
                    <div class="panel panel-headline">
                        <div class="panel-heading">
                            <h3 class="panel-title">Send a common mail for all registered customers </h3>

                        </div>
                        <div class="panel-body">

                            <div class="col-lg-12 col-sm-12 col-xs-12 ">
                                <div class="hd_titl"></div>
                                <div class="card">
                                    <div class="form " style="padding-right: 20px;  padding-left: 20px;">
                                        <div class="row box fw header">
                    
                                            <div class="col-lg-4 col-md-4  col-sm-12 col-xs-12">
                                                <label for="fname">Subject:</label>
                                                <input id="txt_Sub" class="form-control" type="text" />
                                            </div>

                                        </div>
                                        <div class="row box fw header" style="margin-top: 20px;">
                                            <div class="col-lg-4 col-md-4  col-sm-12 col-xs-12">


                                                <label for="fname">Message:</label>
                                                <input id="txt_Message" class="form-control" type="text" />

                                            </div>

                                            <div class="row" style="margin-bottom: 20px;">
                                                <div class="col-lg-9 col-md-9  col-sm-12 col-xs-12">

                                                </div>

                                                <div class="col-lg-3 col-md-3   col-sm-12 col-xs-12">
                                                    <input type="submit" name="ctl00$ContentPlaceHolder1$Button1" value="Register" id="btn_Submit" class="btn btn-success mt-lft">
                                                    <input type="submit" name="ctl00$ContentPlaceHolder1$Button2" value="Cancel" id="btn_Cancel" class="btn btn-danger mt-lft">
                                                </div>
                                            </div>

                                            <div class="container-fluid">
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                ID
                                                            </th>

                                                            <th>
                                                                Subject
                                                            </th>
                                                            <th>
                                                                Message
                                                            </th>

                                                            <th>
                                                                Action
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="tbody"></tbody>
                                                </table>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/assets/scripts/jquery-library.js"></script>
<script type="text/javascript">
    function showpreview3(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#<%=img3.ClientID%>').css('visibility', 'visible');
                $('#<%=img3.ClientID%>').attr('src', e.target.result);
                document.getElementById('imgname').value = reader.value;
            }
            reader.readAsDataURL(input.files[0]);
        }
        else {
            $('#<%=img3.ClientID%>').css('visibility', 'hidden');
        }
    }


    $(document).ready(function () {


        loadData();

    });

    $("#btn_Submit").click(function () {
                       debugger;
        var res = validate();
        if (res == false) {
            return false;
        }
        else {
            var Sub = $("#txt_Sub").val()
            var Message = $("#txt_Message").val();
            // insDetails = new Array();
            var ins = {
                sub: Sub,
                message: Message,
            }
            $.ajax({
                type: "POST",
                url: "/dashboard/InsertCommonEmail/",
                data: JSON.stringify(ins),
                contentType: "application/json; charset=utf-8",
                dataType: "JSON",
                success: function (response) {
                    alert(response);
                    loadData();

                },
                failure: function (response) {
                    alert(response);
                },
                error: function (response) {
                    alert(response);
                }
            })
        }
    })

    function loadData() {

        debugger;
        $.ajax({
            url: "/dashboard/SelectCommonMailHistory",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.id + '</td>';
                    html += '<td>' + item.sub + '</td>';
                    html += '<td>' + item.message + '</td>';
                    html += '<td><a href="#" id="isrespond" class="btn btn-success" onclick="return visibility(' + item.id + ')">Got Respond??</a></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function visibility(id) {
        var ans = confirm("Are you sure you got response for this mail and wanna clear history??");
        if (ans) {
            $.ajax({
                url: "/dashboard/UpdateMailVisibility/" + id,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    alert(result);
                    loadData();

                    $('#isrespond').css('visibility', 'hidden');
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }

      //Valdidation using jquery
    function validate() {
        var isValid = true;
        if ($('#txt_Sub').val().trim() == "") {
            $('#txt_Sub').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#txt_Sub').css('border-color', 'lightgrey');
        }
        if ($('#txt_Message').val().trim() == "") {
            $('#txt_Message').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#txt_Message').css('border-color', 'lightgrey');
        }

        return isValid;
    }
</script>





