﻿
<html>
<head>
    <title>FIRST PAGE </title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <reference path="jquery-1.9.1.intellisense.js" />
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <!-- CSS FILES -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />

    <link rel="stylesheet" href="~/css/fractionslider.css" />
    <link rel="stylesheet" href="~/css/style-fraction.css" />
    <link rel="stylesheet" href="~/css/animate.css" />

    <link rel="stylesheet" type="text/css" href="~/css/style.css" media="screen" data-name="skins" />
    <link rel="stylesheet" href="~/css/layout/wide.css" data-name="layout" />
    <link rel="stylesheet" type="text/css" href="~/css/switcher.css" media="screen" />

    <style>
        @@-webkit-keyframes swinging {
            0% {
                -webkit-transform: rotate(10deg);
            }

            50% {
                -webkit-transform: rotate(-5deg);
            }

            100% {
                -webkit-transform: rotate(10deg);
            }
        }

        @@keyframes swinging {
            0% {
                transform: rotate(10deg);
            }

            50% {
                transform: rotate(-5deg);
            }

            100% {
                transform: rotate(10deg);
            }
        }

        .swingimage {
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
            -moz-animation: swinging 3.5s ease-in-out forwards infinite;
            -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
            animation: swinging 3.5s ease-in-out forwards infinite;
        }

            .swingimage:hover {
                -webkit-transform-origin: 50% 0;
                transform-origin: 50% 0;
                -webkit-animation: none;
                animation: none;
            }

        @@media only screen and (max-width:1024px) {
            .swingimage {
                -webkit-transform-origin: 50% 0;
                transform-origin: 0 0;
                -webkit-animation: none;
                animation: none;
            }
        }

        .wave1, .wave2 {
            height: 30px;
            position: relative !important;
            width: 100%;
            z-index: 12;
        }

        .wave1 {
            -webkit-animation: wave-animation1 8.7s infinite linear; /* Safari 4+ */
            -moz-animation: wave-animation1 8.7s infinite linear; /* Fx 5+ */
            -o-animation: wave-animation1 8.7s infinite linear; /* Opera 12+ */
            animation: wave-animation1 8.7s infinite linear; /* IE 10+ */
        }

        .wave2 {
            -webkit-animation: wave-animation1 6.3s infinite linear; /* Safari 4+ */
            -moz-animation: wave-animation1 6.3s infinite linear; /* Fx 5+ */
            -o-animation: wave-animation1 6.3s infinite linear; /* Opera 12+ */
            animation: wave-animation1 6.3s infinite linear; /* IE 10+ */
        }

        @@-webkit-keyframes wave-animation1 {
            0% {
                background-position: 0 0;
            }

            100% {
                background-position: 1601px 0;
            }
        }

        @@-moz-keyframes wave-animation1 {
            0% {
                background-position: 0 0;
            }

            100% {
                background-position: 1601px 0;
            }
        }

        @@-o-keyframes wave-animation1 {
            0% {
                background-position: 0 0;
            }

            100% {
                background-position: 1601px 0;
            }
        }

        @@keyframes wave-animation1 {
            0% {
                background-position: 0 0;
            }

            100% {
                background-position: 1601px 0;
            }
        }

        .wave1 {
            background: url('http://www.templates-preview.com/bootstrap-templates/300111854/images/wave1.png') 0 0 repeat-x;
        }

        .wave2 {
            background: url('http://www.templates-preview.com/bootstrap-templates/300111854/images/wave2.png') 0 0 repeat-x;
        }
    </style>
</head>
<body>
    <div class="s-media  hidden-xs">
        <a href="https://www.facebook.com/First-page-112720163461901/?modal=admin_todo_tour" target="_blank" class="s-item facebook">
            <span class="fa fa-facebook"></span>
        </a>

        <a href="#" class="s-item twitter">
            <span class="fa fa-instagram"></span>
        </a>


        <a href="#" class="s-item gplus">
            <span class="fa fa-google-plus"></span>
        </a>

        <a id="sm-close" class="s-item print">
            <span class="fa fa-arrow-left"></span>
        </a>

    </div>
    <a id="sm-open" class="s-item print sm-collapse">
        <span class="fa fa-arrow-right"></span>
    </a>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

             Modal content
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">FEEDBACK Form</h4>
                </div>
                <div class="modal-body">
                    <div class="nav-body">
                        <p align="justify">If you have a suggestion or any feedback for us, we would love to hear it ! </p>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <input name="txtname" type="text" id="txtname" class="form-control b-r-0" placeholder="Enter Your Name">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <input name="txtmail" type="text" id="txtmail" class="form-control b-r-0" placeholder="Enter Your MailId">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <input name="txtmob" type="text" id="txtmob" class="form-control b-r-0" placeholder="(optional) Your Phone">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <textarea name="txtfeedback" rows="5" cols="20" id="txtfeedback" class="form-control b-r-0" placeholder="Please Write Youe Feedback Here"></textarea>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" name="btnsendfeedback"  id="btnsendfeedback" class="btn btn-social-twitter">

                    <button type="button" class="btn btn-default" id="btnclose" style="box-shadow:none" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <header id="header">

        <div id="info-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 top-info ">
                        <span class="hidden-xs hidden-sm"><i class="fa fa-phone"></i>Phone: +91-7077047999</span>
                        <span class="hidden-xs hidden-sm"><i class="fa fa-envelope"></i>Email: Info@firstpages.in</span>
                    </div>
                    <div class="col-lg-1 top-info hidden-xs hidden-sm ">
                        <!--<ul>
                    <li><a target="_blank" href="https://www.facebook.com/Aashraya-1479340972128931/" class="my-facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/ashrayaold" class="my-tweet"><i class="fa fa-twitter"></i></a></li>

                        <li><a target="_blank" href="aashrayaoldagehome" class="my-skype"><i class="fa fa-skype"></i></a></li>

                        <li><a target="_blank" href="https://plus.google.com/u/0/103641588851174711830" class="my-google"><i class="fa fa-google-plus"></i></a></li>

                     </ul>-->
                        <a href="~/login/index" style="color:#fff" target="_blank"><span><i class="fa fa-user"></i> Login</span></a>
                    </div>
                    <div class="col-lg-2 top-info">

                        <a href="#" style="color:#fff" data-toggle="modal" data-target="#myModal"><span><i class="fa fa-file"></i> Feedback</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="logo-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div>
                            <a href="~/Home/Index"><img src="~/images/logo.png" class="img-responsive  hidden-xs" /></a>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <!-- Navigation
                        ================================================== -->
                        <div class="navbar navbar-default navbar-static-top" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div id="logo">
                                    <h1><a href="index.aspx"><img src="~/images/logo.png" class="hidden-md hidden-lg" style="height:60px" /></a></h1>
                                </div>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="~/Home/Index">Home</a>

                                    </li>

                                    <li>
                                        <a href="~/Home/AboutUs">About</a>
                                        @*<ul class="dropdown-menu">*@
                                            @*<li><a href="~/Home/AboutUs">About FIRST PAGE</a></li>*@
                                            @*<li><a href="founder_trustee.aspx"> Founder & Trustees </a></li>*@
                                            @*<li><a href="~/Home/mission">Our Mission</a></li>
                                            <li><a href="~/Home/vision">Our Vision</a></li>*@
                                            @*<li><a href="Leadership.aspx">Leadership</a></li>*@

                                        @*</ul>*@

                                    </li>

                                    <li>
                                        <a href="#">Srevices</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="~/Home/Fabrication">Fabrication</a></li>
                                            <li><a href="~/Home/FlexPrinting">Flex Printing</a></li>
                                            <li><a href="~/Home/OfficeStationary">Office Stationary Offset Printing</a></li>
                                            <li><a href="~/Home/T_SHIRTS_Printing">T - SHIRT PRINTING </a></li>

                                        </ul>

                                    </li>

                                    @*<li>
                                            <a href="~/Home/gallery">Gallery</a>

                                        </li>*@

                                    <!--<li><a href="#">Media Center</a>

                                    </li>-->

                                    <li><a href="~/Home/contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.container -->
        </div>
        <!--/#logo-bar -->
    </header>
    @RenderBody()
    <!--start footer-->

    <footer class="footer">

        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="widget_title">
                        <h4><span>About Us</span></h4>
                    </div>
                    <div class="widget_content">
                        <p style="text-align:justify">
                            FIRST PAGE is a ISO certified company, which provides best printing services. It is involved in Manufacture of structural metal products, sinages and Road safety signages.
                            We serve best services to our client. We print according to your thoughts and ideas which look alive. Our only mission to provide client best quality printed outputs. We provide that type of services, you can easily trust. Quality is our strength.
                        </p>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="widget_title">
                        <h4><span>Contact Us</span></h4>
                    </div>
                    <div class="widget_content">
                        <ul class="contact-details-alt">
                            <li>
                                <i class="fa fa-map-marker"></i><strong>Address</strong> <p style="color:lemonchiffon"><b>Registered Office :</b></p>
                                <p>F - 54, Sailashree Vihar</p><p>Back Side Of Trident Engg College</p><p>Chandrasekharpur, BBSR - 21</p>
                            </li>
                            <li><i class="fa fa-envelope"></i><strong>Email</strong> <p>: Info@firstpages.in</p> </li>
                            <li><i class="fa fa-user"></i><strong>Our Phone</strong> <p>: +91-7077047999 </p></li>
                        </ul>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="widget_title">
                        <h4><span>Location</span></h4>
                        <div class="widget_content">

                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14964.087594064064!2d85.8113172!3d20.340714!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf6948fe2c0cecf9e!2sFirst%20Page!5e0!3m2!1sen!2sin!4v1569172797029!5m2!1sen!2sin" style="width:100%;height:200px;border:0;" frameborder="0" allowfullscreen=""></iframe>

                        </div>
                    </div>

                    <ul class="contact-details-alt">
                        @*<li>
                                <p style="color:lemonchiffon"><b>Bank : CANARA BANK</b></p>
                                <p>Account No : 2957101003544</p><p>Account Holder : FIRST PAGE CHARITABLE TRUST </p>
                                <p>IFSC Code : CNRB0002957</p>
                                <p>MICR Code : 751015007</p>
                            </li>
                            <li><i class="fa fa-map-marker"></i><strong> Address</strong> <p>: Plot - 202, Dwarika Villa, Patia,  Bhubaneswar - 751024, Odisha</p> </li>
                            <li><i class="fa fa-user"></i><strong>  Phone</strong> <p>: +91-9437855253</p></li>*@
                    </ul>


                </div>

                <div class="col-sm-3">
                    <div class="widget_title">
                        <h4><span>Site Map</span></h4>
                    </div>
                    <div class="widget_content">
                        <ul class="tweet_list">
                            <li class="tweet_content item">
                                <i class="fa fa-caret-right"></i>
                                <p class="tweet_link"><a href="#">Home </a></p>

                            </li>
                            <li class="tweet_content item">
                                <i class="fa fa-caret-right"></i>
                                <p class="tweet_link"><a href="#">About Us</a></p>

                            </li>

                            <li>
                                <i class="fa fa-caret-right"></i><p class="tweet_link"><a href="#">Services</a></p>

                            </li>

                            <li>
                                <i class="fa fa-caret-right"></i><p class="tweet_link"><a href="#">Gallery</a></p>

                            </li>

                            @*<li>
                                    <i class="fa fa-caret-right"></i><p class="tweet_link"><a href="media.html">Media Center</a></p>

                                </li>*@

                            <li><i class="fa fa-caret-right"></i><p class="tweet_link"><a href="#">Contact</a></p></li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </footer>
    <!--end footer-->

    <section class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                   @* <p align="center" class="copyright">Designed and Developed  by : <a target="_blank" href="#" title="Free Website Templates"></a></p>*@
                    <p align="center" class="copyright"> © 2019 | FIRST PAGE   | All rights reserved</p>
                </div>

                <!--<div class="col-sm-6 ">
                    <div class="footer_social">
                        <ul class="footbot_social">
                            <li><a target="_blank" class="fb" href="https://www.facebook.com/Aashraya-1479340972128931/" data-placement="top" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" class="twtr" href="https://twitter.com/ashrayaold" data-placement="top" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a target="_blank" href="https://plus.google.com/u/0/103641588851174711830" class="my-google" data-placement="top" data-toggle="tooltip" title="google-plus"><i class="fa fa-google-plus"></i></a></li>
                            <li><a target="_blank" class="skype" href="aashrayaoldagehome" data-placement="top" data-toggle="tooltip" title="Skype"><i class="fa fa-skype"></i></a></li>

                        </ul>
                    </div>
                </div>-->
            </div>
        </div>
    </section>
    <section class="hidden-xs hidden-sm" style="background:#183049;margin-top:-100px">
        <img src="~/images/ft.png" style="width:100%" class="img-responsive" />
    </section>
    <script type="text/javascript" src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/js/jquery.cookie.js"></script> <!-- jQuery cookie -->
    <script type="text/javascript" src="~/js/styleswitch.js"></script> <!-- Style Colors Switcher -->
    <script src="~/js/jquery.fractionslider.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="~/js/jquery.smartmenus.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.smartmenus.bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/js/jflickrfeed.js"></script>
    <script type="text/javascript" src="~/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/js/swipe.js"></script>
    <script src="~/js/main.js"></script>

    <!-- Start Style Switcher -->
    <!--<div class="switcher"></div>-->
    <!-- End Style Switcher -->
    <script>
        $(window).load(function(){
            $('.slider').fractionSlider({
                'fullWidth': 			true,
                'controls': 			true,
                'responsive': 			true,
                'dimensions': 			"1920,450",
                'timeout' :             5000,
                'increase': 			true,
                'pauseOnHover': 		true,
                'slideEndAnimation': 	false,
                'autoChange':           true
            });
        });
    </script>
    <!-- WARNING: Wow.js doesn't work in IE 9 or less -->
    <!--[if gte IE 9 | !IE ]><!-->
    <script type="text/javascript" src="~/js/wow.min.js"></script>
    <script>
            // WOW Animation
            new WOW().init();
    </script>
    <script>
 function validatefeedback()
        {
            debugger;
                var name = $("#txtname").val();
                var mob = $("#txtmob").val();
          var email = $("#txtmail").val();
          var feedback = $("#txtfeedback").val();
            var isValid = true;
        if ($("#txtname").val().trim() == "" ) {
           
            $("#txtname").css("border-color", "red");
            
            isValid = false;
        }
        else {
             $('#txtname').css('border-color', 'lightgrey');
        }
        if ($("#txtmob").val().trim() == "") {
           
            $("#txtmob").css("border-color", "red");
            
            isValid = false;
        }
        else {
             $('#txtmob').css('border-color', 'lightgrey');
        }
         if ($("#txtmail").val().trim() == "")
         {
            
             $("#txtmail").css("border-color", "red");
             
             isValid = false;
        }
          else {
             $('#txtmail').css('border-color', 'lightgrey');
        }
        if ($("#txtfeedback").val().trim() == "")
        {
           
            $("#txtfeedback").css("border-color", "red");
            
            isValid = false;
        }
          else {
             $('#txtfeedback').css('border-color', 'lightgrey');
        }
        return isValid;
     }
        $("#btnsendfeedback").click(function ()
        {
            debugger;
        var res = validatefeedback();
         if (res == false) {
             return false;
         }
         else
         {
             debugger;
         var name     = $("#txtname").val()
         var mob       = $("#txtmob").val()
         var email     = $("#txtmail").val();
         var feedback = $("#txtfeedback").val();
         // insDetails = new Array();
         var ins = {
             name: name,
             email: email,
             feedback: feedback,
             mob: mob
         }
         $.ajax({
             type: "POST",
             url: "/Home/InsertFeedback/",
             data: JSON.stringify(ins),
             contentType: "application/json; charset=utf-8",
             dataType: "JSON",
             success: function (response) {
                 alert(response);
                 name       =(""); 
                 mob        =("");
                 email      =("");
                 feedback = ("");
                 $("#btnclose").click();
                 loadData();
      
             },
             failure: function (response) {
                 alert(response);
             },
             error: function (response) {
                 alert(response);
             }
            })
        }
        })






        $(document).ready(function () {

            // Social Media Collapse
            $('#sm-close').click(function () {
                $('.s-media').addClass('sm-collapse');
                $('#sm-open').delay(300).css('left', '0');
            });

            $('#sm-open').click(function () {
                $('#sm-open').css('left', '-60px');
                $('.s-media').removeClass('sm-collapse');

            });

            // END Click Function
        });// END DOCUMENT.Ready
    </script>
    <script type='text/javascript'>
    (function(I, _, T, i, c, k, s) {if(I.iticks) return;I.iticks = {host:c, settings:s, clientId:k, cdn:_, queue:[]};var h = T.head || T.documentElement;var e = T.createElement(i);var l = I.location;e.async = true;e.src = (_||c)+'/client/inject-v2.min.js';h.insertBefore(e, h.firstChild);I.iticks.call = function(a, b) {I.iticks.queue.push([a, b]);};})(window, 'https://cdn.intelliticks.com/prod/common', document, 'script', 'https://app.intelliticks.com', 'yTwA7xvLvvWAdLpZs_c', {});
    </script>
</body>
</html>
