﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page_head">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">


                <div class="page_title">
                    <h2>contact </h2>
                    <!--<span class="sub_heading">We are here for you 24/7</span>-->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact_2">

    <div class="container">
        <div class="row sub_content">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="dividerHeading">
                    <h4><span>Get in Touch</span></h4>
                </div>



                <label for="fname">Name</label>
                <input type="text" id="txt_Name" name="firstname" class="form-control" placeholder="Your name..">

                <label for="lname">Mobile no.</label>
                <input type="text" id="txt_Mob" name="lastname" class="form-control" placeholder="Your Moble no..">
                 
                <label for="lname">Email Id</label>
                <input type="text" id="txt_Email" name="Mail" class="form-control" placeholder="Your Email Id..">
                

                <label for="subject">Subject</label>
                <textarea id="txt_Sub" type="text" name="subject" class="form-control"  placeholder="Write something.." style="height:200px"></textarea>

                <input type="submit" id="btn_Submit" class="btn btn-success" value="Submit">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="sidebar">
                    <div class="widget_info">
                        <div class="dividerHeading">
                            <h4><span>Contact Info</span></h4>
                        </div>

                        <ul class="widget_info_contact">
                            <li>
                                <i class="fa fa-map-marker"></i><strong>Address</strong>
                                <p>F - 54, Sailashree Vihar</p><p>Back Side Of Trident Engg College</p><p>Chandrasekharpur, BBSR - 21</p>

                            </li>
                            <li><i class="fa fa-envelope"></i><strong>Email</strong> <p>:Info@firstpages.in</p></li>
                            <li><i class="fa fa-phone"></i><strong>Our Phone</strong> <p>: +91-7077047999</p></li>
                        </ul>
                    </div>

                    <div class="widget_social">
                        <ul class="widget_social">
                            <li><a  class="fb" href="https://www.facebook.com/First-page-112720163461901/?modal=admin_todo_tour" target="_blank" data-placement="bottom" data-toggle="tooltip" title="Facbook"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" class="twtr" href="#" data-placement="bottom" data-toggle="tooltip" title="Twitter"><i class="fa fa-instagram"></i></a></li>
                            <li><a target="_blank" class="gmail" href="#" data-placement="bottom" data-toggle="tooltip" title="Google"><i class="fa fa-google-plus"></i></a></li>

                            @*<li><a target="_blank" class="skype" href="aashrayaoldagehome" data-placement="bottom" data-toggle="tooltip" title="Skype"><i class="fa fa-skype"></i></a></li>


                            <li><a target="_blank" class="youtube" href="#" data-placement="bottom" data-toggle="tooltip" title="Youtube"><i class="fa fa-youtube"></i></a></li>*@



                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<script src="~/assets/scripts/jquery-library.js"></script>
<script type="text/javascript">

    function validatecontact() {
        debugger;
          var FName = $("#txt_Name").val();
        var mob = $("#txt_Mob").val();
        var Email = $("#txt_Email").val();
        var Subject = $("#txt_Sub").val();
             var isValid = true;
        if (FName.trim() == "" ) {
           
            $("#txt_Name").css("border-color", "red");
            
            isValid = false;
        }
        else {
             $('#txt_Name').css('border-color', 'lightgrey');
        }
        if (mob.trim() == "") {
           
            $("#txt_Mob").css("border-color", "red");
            
            isValid = false;
        }
        else {
             $('#txt_Mob').css('border-color', 'lightgrey');
        }
         if (Email.trim() == "")
         {
            
             $("#txt_Email").css("border-color", "red");
             
             isValid = false;
        }
          else {
             $('#txt_Email').css('border-color', 'lightgrey');
        }
        if (Subject.trim() == "")
        {
           
            $("#txt_Sub").css("border-color", "red");
            
            isValid = false;
        }
          else {
             $('#txt_Sub').css('border-color', 'lightgrey');
        }
        return isValid;
    }



    $("#btn_Submit").click(function () {
        debugger;
    var res = validatecontact();
    if (res == false) {
        return false;
    }
    else {
        var FName = $("#txt_Name").val();
        var mob = $("#txt_Mob").val();
        var Email = $("#txt_Email").val();
        var Subject = $("#txt_Sub").val();
      
        
        var ins = {
            fname:   FName,
           mob:mob,
            email:   Email,
            sub: Subject,
        }
        $.ajax({
            type: "POST",
            url: "/Home/InsertContact/",
            data: JSON.stringify(ins),
            contentType: "application/json; charset=utf-8",
            dataType: "JSON",
            success: function (response) {
                alert(response)
            },
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response);
            }
        })
         }
    })
   
   
</script>