﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="slider-wrapper hidden-xs hidden-sm">
    <div class="slider">
        <div class="fs_loader"></div>

        <div class="slide slide1" >
            <img src="~/images/fraction-slider/slider-girl.png" width="555" height="400" data-position="50,1300" data-in="left" data-out="right" data-delay="3500" />



            <p class="slide-heading" data-position="50,270" data-in="top" data-out="bottom" data-delay="500"> Welcome to</p>
            <p class="slide-heading" data-position="120,270" data-in="bottom" data-out="top" data-delay="1500">FIRST  (<span style="color:#f9e79f;">PAGE</span>)</p>
            <p class="slide-heading" data-position="190,270" data-in="bottom" data-out="top" data-delay="1500">100% </span> Print Solution</p>
            <p class="slide-heading" data-position="260,270" data-in="bottom" data-out="top" data-delay="1500"><span style="color:#f9e79f;">We aim to ensure a stress-free process</p>

        </div>

        <div class="slide slide2">
            <img src="~/images/fraction-slider/1.jpg" width="1920" height="auto" data-in="fade" data-out="fade" />



        </div>

        <div class="slide slide3">
            <img src="~/images/fraction-slider/5.jpg" width="1920" height="auto" data-in="fade" data-out="fade" />



        </div>
        <div class="slide slide4">
            <img src="~/images/fraction-slider/4.jpg" width="1920" height="auto" data-in="fade" data-out="fade" />



        </div>
        <div class="slide slide4">
            <img src="~/images/fraction-slider/sl1.jpg" width="1920" height="auto" data-in="fade" data-out="fade" />



        </div>

    </div>
</div>
<div id="myCarousel" class="carousel slide hidden-md hidden-lg" data-ride="carousel">
    <!-- Indicators -->
    @*<ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>*@

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/images/fraction-slider/mob4.jpg" alt="Los Angeles" style="width:100%;">
        </div>

        <div class="item">
            <img src="~/images/fraction-slider/mob1.jpg" alt="Chicago" style="width:100%;">
        </div>

        <div class="item">
            <img src="~/images/fraction-slider/mob3.jpg" alt="New york" style="width:100%;">
        </div>
        <div class="item">
            <img src="~/images/fraction-slider/mob6.jpg" alt="New york" style="width:100%;">
        </div>
        <div class="item">
            <img src="~/images/fraction-slider/mob5.jpg" alt="New york" style="width:100%;">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<section class="promo_box">
    <div class="container">
        <div class="row  hidden-xs">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-4">
                <div class="promo_content hidden-xs">
                    <h3 style="color:#fff">First Page has been known for its corporate values/ethics</h3>
                    <p style="color:#fff">We supply the widest selection of signage in all varieties </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4  hidden-xs">
                <div class="pb_action">
                    <a class="btn btn-lg btn-default swingimage" href="~/Home/contact" target="_blank">
                        <i class="fa fa-phone"></i>
                        Contact Us
                    </a>
                </div>
            </div>

        </div>
        <div class="row hidden-md hidden-lg hidden-sm">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-1"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-5">
                <a href="https://wa.me/+917077047999" title="whatsapp" target="_blank" style="cursor:pointer">
                    <img src="~/images/whtp.png" class="img-responsive" />

                </a>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-5 hidden-md hidden-lg hidden-sm">
                <a href="tel:+91-7077047999" target="_blank" style="cursor:pointer">

                    <img src="~/images/phn.png" class="img-responsive" />
                </a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-1"></div>
        </div>

    </div>
</section>
<section class="">
    <div class="container ">

    </div>
</section>
<section class="latest_work  sub_content" style="background-image:url(../images/body-effects.png) !important">
    <div class="container cn">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="boxpd">
                <div class="row" style="">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2>Fabrication</h2>
                    </div>
                </div>
                <div class="row" style="">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                        <a href="~/Home/Fabrication">
                            <div class="conbx">
                                <img src="~/images/portfolio/21.jpg" alt="" class="img-responsive">

                                <p>Glow Signboard</p>
                            </div>
                            </a>
</div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="~/Home/Fabrication">
                            <div class="conbx">
                                <img src="~/images/portfolio/19.jpg" alt="" class="img-responsive">

                                <p>LED Signage</p>
                            </div>
                            </a>
</div>
                </div>
                <div class="row mttp">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="~/Home/Fabrication">
                            <div class="conbx">
                                <img src="~/images/portfolio/23.jpg" alt="" class="img-responsive">

                                <p>Front-lit board</p>
                            </div>
                            </a>
</div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="~/Home/Fabrication">
                            <div class="conbx">
                                <img src="~/images/portfolio/26.jpg" alt="" class="img-responsive">

                                <p>Retro signage</p>
                            </div>
                            </a>
</div>
                </div>
                @*<div class="row" style="">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p class="all"><a href="~/Home/Fabrication">See All Product</a></p>
                    </div>
                </div>*@
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="boxpd">
                <div class="row" style="">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2>Flex print</h2>
                    </div>
                </div>
                <div class="row" style="">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                        <a href="~/Home/FlexPrinting">
                            <div class="conbx conbx1">
                                <img src="~/images/portfolio/30.jpg" alt="" class="img-responsive">

                                <p>Normal flex print</p>
                            </div>
                            </a>
</div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="~/Home/FlexPrinting">
                            <div class="conbx conbx1">
                                <img src="~/images/4.jpg" alt="" class="img-responsive">

                                <p>Id Card</p>
                            </div>
                        </a>
</div>
                </div>
                <div class="row mttp">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="~/Home/FlexPrinting">
                            <div class="conbx conbx1">
                                <img src="~/images/portfolio/35.jpg" alt="" class="img-responsive">

                                <p>Roll-on standee</p>
                            </div>
                        </a>
</div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="~/Home/FlexPrinting">
                            <div class="conbx conbx1">
                                <img src="~/images/portfolio/33.jpg" alt="" class="img-responsive">

                                <p>Acrylic sandwich</p>
                            </div>
                        </a>
</div>
                </div>
                @*<div class="row" style="">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p class="all"><a href="~/Home/FlexPrinting">See All Product</a></p>
                    </div>
                </div>*@
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="boxpd">
                <div class="row" style="">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2>Offset Printing</h2>
                    </div>
                </div>
                <div class="row" style="">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="~/Home/OfficeStationary">
                            <div class="conbx conbx2">
                                <img src="~/images/portfolio/11.jpg" alt="" class="img-responsive">

                                <p>Birthday Card</p>
                            </div>
                            </a>
</div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="~/Home/OfficeStationary">
                            <div class="conbx conbx2">
                                <img src="~/images/portfolio/12.jpg" alt="" class="img-responsive">

                                <p>Flyer</p>
                            </div>
                            </a>
</div>
                </div>
                <div class="row mttp">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="~/Home/OfficeStationary">
                            <div class="conbx conbx2">
                                <img src="~/images/portfolio/17.jpg" alt="" class="img-responsive">

                                <p>Certificate</p>
                            </div>
                            </a>
</div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="~/Home/OfficeStationary">
                            <div class="conbx conbx2">
                                <img src="~/images/portfolio/16.jpg" alt="" class="img-responsive">

                                <p>Leaflet</p>
                            </div>
                            </a>
</div>
                </div>
                @*<div class="row" style="">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p class="all">See All Product</a></p>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <div class="container" style="width:96%">

        <div class="crsl1" style="background:url(../images/off.png);background-size:cover;">
            <div class="">
                <h4 class="offhdng"><span>Offer Group</span> </h4>
            </div>
            <div class="row hidden-sm">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="~/images/8.jpg" alt="" class="img-responsive mttp offimg">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                    <img src="~/images/10.jpg" alt="" class="img-responsive mttp offimg">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                    <img src="~/images/11.jpg" alt="" class="img-responsive mttp offimg">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                    <img src="~/images/9.jpg" alt="" class="img-responsive mttp offimg">
                </div>
            </div>
            <div class="row hidden-md hidden-lg hidden-xs">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <img src="~/images/8.jpg" alt="" class="img-responsive mttp offimg">
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">

                    <img src="~/images/10.jpg" alt="" class="img-responsive mttp offimg">
                </div>
                </div>
                <div class="row  hidden-md hidden-lg hidden-xs">
                    <div class="col-lg-3 col-sm-6 col-xs-12">

                        <img src="~/images/11.jpg" alt="" class="img-responsive mttp offimg">
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12">

                        <img src="~/images/9.jpg" alt="" class="img-responsive mttp offimg">
                    </div>
                </div>
        </div>
        </div>
    <div class="container" style="width:96%">

        <div class="crsl1">
            <div class="dividerHeading">
                <h4><span>Visiting Card</span> </h4>
            </div>
            @*<a#b70753 href="~/Home/OfficeStationary" class="btn btn-success btnm hidden-md hidden-lg hidden-sm">More</a>*@


            <div id="recent-work-slideref" class="owl-carousel">
                <div class="box recent-item">
                    <figure class="touching effect-bubba">
                        <img src="~/images/portfolio/60.jpg" alt="" class="img-responsive">



                    </figure>
                    <p style="color:#222">visiting card</p>
                </div>
                <div class="box recent-item">
                    <figure class="touching effect-bubba">
                        <img src="~/images/portfolio/61.jpg" alt="" class="img-responsive">



                    </figure>
                    <p style="color:#222">visiting card</p>
                </div>
                <div class="box recent-item">
                    <figure class="touching effect-bubba">
                        <img src="~/images/portfolio/62.jpg" alt="" class="img-responsive">



                    </figure>
                    <p style="color:#222">visiting card</p>
                </div>
                <div class="box recent-item">
                    <figure class="touching effect-bubba">
                        <img src="~/images/portfolio/63.jpg" alt="" class="img-responsive">



                    </figure>
                    <p style="color:#222">visiting card</p>
                </div>
                <div class="box recent-item">
                    <figure class="touching effect-bubba">
                        <img src="~/images/portfolio/64.jpg" alt="" class="img-responsive">



                    </figure>
                    <p style="color:#222">visiting card</p>
                </div>
                <div class="box recent-item">
                    <figure class="touching effect-bubba">
                        <img src="~/images/portfolio/50.jpg" alt="" class="img-responsive">



                    </figure>
                    <p style="color:#222">shree baladev visiting card 500</p>
                </div>

                <div class="box recent-item">
                    <figure class="touching effect-bubba">
                        <img src="~/images/portfolio/10.jpg" alt="" class="img-responsive">

                    </figure>
                    <p style="color:#222">Extramarks visiting card</p>
                </div>

                <div class="box recent-item">
                    <figure class="touching effect-bubba">
                        <img src="~/images/portfolio/9.jpg" alt="" class="img-responsive">


                    </figure>
                    <p style="color:#222"> Visiting Card </p>
                </div>

                <div class="box recent-item">
                    <figure class="touching effect-bubba">
                        <img src="~/images/portfolio/37.jpg" alt="" class="img-responsive">

                    </figure>
                    <p style="color:#222"> Visiting Card </p>
                </div>

                <div class="box recent-item">
                    <figure class="touching effect-bubba">
                        <img src="~/images/portfolio/38.jpg" alt="" class="img-responsive">

                    </figure>
                    <p style="color:#222"> Sahoo visiting card </p>
                </div>

                <div class="box recent-item">
                    <figure class="touching effect-bubba">
                        <img src="~/images/portfolio/51.jpg" alt="" class="img-responsive">

                    </figure>
                    <p style="color:#222"> visiting card  </p>
                </div>

                <div class="box recent-item">
                    <figure class="touching effect-bubba">
                        <img src="~/images/portfolio/52.jpg" alt="" class="img-responsive">

                    </figure>
                    <p style="color:#222"> visiting card </p>
                </div>

                <div class="box recent-item">
                    <figure class="touching effect-bubba">
                        <img src="~/images/portfolio/53.jpg" alt="" class="img-responsive">

                    </figure>
                    <p style="color:#222">Visiting Card</p>
                </div>
                <div class="box recent-item">
                    <figure class="touching effect-bubba">
                        <img src="~/images/portfolio/54.jpg" alt="" class="img-responsive">

                    </figure>
                    <p style="color:#222">visiting card dental </p>
                </div>
                <div class="box recent-item">
                    <figure class="touching effect-bubba">
                        <img src="~/images/portfolio/55.jpg" alt="" class="img-responsive">

                    </figure>
                    <p style="color:#222">Omm Steel Industry VISITING CARD </p>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="info_service" style="background-image:url(../images/1.jpg);background-size:cover">
        <div class="container">
            <div class="row sub_content">
                <div class="col-lg-12 col-md-12 col-sm-12 wow fadeInDown">
                    <h1 class="intro text-center">About Our Goal And Objectives</h1>
                    <p class="lead text-center">We are glad to introduce ourselves as one of the leading sign manufacturing company in ODISHA</p>
                </div>
                <div class="rs_box  wow bounceInRight" data-wow-offset="200">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="serviceBox_3">
                            <div class="service-icon">
                                <center> <img src="~/images/m.png" class="img-responsive" /></center>
                            </div>
                            <h3>Our Mission</h3>
                            <p>FIRST PAGE is a ODISHA based company but we we are able to successfully service our clients anywhere in INDIA.</p>

                            <a class="read" href="~/Home/mission">Read more</a>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="serviceBox_3">
                            <div class="service-icon">
                                <center> <img src="~/images/n.png" class="img-responsive" style="margin-top:7px;width:77%;" /></center>
                            </div>
                            <h3>Our Vision</h3>
                            <p>FIRST PAGE is a ODISHA based company but we we are able to successfully service our clients anywhere in INDIA.</p>

                            <a class="read" href="~/Home/vision">Read more</a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="serviceBox_3">
                            <div class="service-icon">
                                <center> <img src="~/images/o.png" class="img-responsive" style="margin-top:4px;" /></center>
                            </div>
                            <h3>Objectives</h3>
                            <p>FIRST PAGE is a ODISHA based company but we we are able to successfully service our clients anywhere in INDIA.</p>

                            <a class="read" href="#">Read more</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>*@
<section class="feature_bottom" style="background:url('../images/cntbg.jpg');">
    <div class="container">
        <div class="row sub_content cntbx">

            <div class="dividerHeading">

            </div>
            <div class="row">
                <div class="col-lg-8  wow fadeInLeft">
                    <h1 style="color:#fff;"><span>Welcome to FIRST PAGE</span></h1>


                    <div class="blogContent">
                        <p class="colorwh" style="text-align:justify">FIRST PAGE is a ODISHA based company but we we are able to successfully service our clients anywhere in INDIA. We have a wide network of approved sign riggers that will ensure that the quality you receive is the same anywhere in INDIA and being approved by us it will not influence your warrantee. The foundation we build our business on : Service, Quality, Value adding, Value for money, Trust, Punctuality, Deadlines.</p>
                        <p class="colorwh" style="text-align:justify">We aim to ensure a stress-free process. With signage, as with many other business investments, initial cost may not reflect long-term value. A properly designed sign can effectively communicate and motivate for many years. Real value, then, is not so much a function of low initial cost, but of quality. We insist on utilizing only the highest quality materials and engineering techniques in our manufacturing process.</p>
                        <p class="colorwh" style="text-align:justify">We are glad to introduce ourselves as one of the leading sign manufacturing company in ODISHA . We are specialized in all types of sign illuminated or non-illuminated from small nameplate to Display roof top sign. We supply the widest selection of signage in all varieties of specification to business and organization throughout INDIA. </p>

                        <p>
                            <a class="btn btn-lg btn-default" style="padding: 8px 10px;
    font-size: 13px;
    margin-top: 4px;background: #e27f00; box-shadow: none;" href="~/Home/index">
                                View more
                            </a>
                        </p>
                    </div>


                </div>
                <div class="col-lg-4  rs_box wow fadeInRight">
                    <!--<div class="blogPic">
                                                        <iframe width="100%" height="204" src="https://www.youtube.com/embed/dH00URzAqKM" frameborder="0" allowfullscreen></iframe>

                                                    </div>
                                                    <div class="blogDetail">
                                                        <div class="blogTitle">
                                                            <a href="#">
                                                                <h2>At Historic City Of Patliputra</h2>
                                                            </a>
                                                            <span>
                                                                <i class="fa fa-calendar"></i>
                                                                Aashraya
                                                            </span>
                                                        </div>
                                                        <div class="blogContent">
                                                            <p>Established in 2015, Ashraya is a home away from home for the senior citizens and anybody who wishes to live in a secured homely environment when deprived of his/her own abode. </p>
                                                        <p>Ashraya " SHUBHAM"<br/>
                    3H / 324 New Patliputra Colony<br/>
                    G.D.Mishra Road<br/>
                    Patna-800013</p>
                                                        </div>
                                                        <div class="blogMeta">
                                                            <a href="#">
                                                               <i class="fa fa-phone"></i>: +91-9334192677
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <hr style="border:none"/><a href="contact_2.html">
                                                    <img src="images/l.png" class="img-responsive" style="width:100%;height:150px"/></a>-->
                </div>
            </div>


            <!-- TESTIMONIALS -->
            <!-- TESTIMONIALS END -->
        </div>
    </div>

</section>
<section class=" hidden-xs  counter-parallax sub_content">
    <div class="container-fluid">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 text-center">
            <div class="count-box">
                <span class="icon"><i class="fa fa-phone "></i></span>
                <p><b class="timer" data-to="100" data-speed="10000">24 x 7</b></p>
                <span class="title">Support</span>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 text-center">
            <div class="count-box">
                <span class="icon"><i class="fa fa-users"></i></span>
                <p><b class="timer" data-to="63" data-speed="10000">10</b>K</p>
                <span class="title">Happy Customers</span>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 text-center">
            <div class="count-box">
                <span class="icon"><i class="fa fa-briefcase"></i></span>
                <p><b class="timer" data-to="536" data-speed="10000">536</b></p>
                <span class="title">In time delivery</span>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 text-center">
            <div class="count-box">
                <span class="icon"><i class="fa fa-clock-o"></i></span>
                <p><b class="timer" data-to="63" data-speed="10000"><span >Within 10 min</span></b></p>
                <span class="title">Printing Solution</span>
            </div>
        </div>
    </div>
</section>
<section class="parallax parallax-1">
    <div class="container">
        <div class="row">
            @*<div class="col-lg-6">
                
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <input name="txtname" type="text" id="txtname" class="form-control b-r-0" placeholder="Enter Your Name">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <input name="txtmail" type="text" id="txtmail" class="form-control b-r-0" placeholder="Enter Your MailId">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <input name="txtmob" type="text" id="txtmail" class="form-control b-r-0" placeholder="(optional) Your Phone">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <textarea name="txtfeedback" rows="5" cols="20" id="txtfeedback" class="form-control b-r-0" placeholder="Please Write Youe Feedback Here"></textarea>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                </div>
                            </div>

                        </div>
            </div>*@
                <div class="col-lg-12">
                    <h1 align="center" style="color:#fff">What's Client Say</h1>
                    <div class="seprator"></div>
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        @*<div class="carousel-inner">
                        <div class="item active">
                            <div class="row" style="padding: 20px">
                                <p class="testimonial_para " id="clientsays">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo en.</p><br>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <center class="clntdtl">
                                            <img src="~/images/testimonials/1.jpg" class="imgwth">
                                            <h4 class="wh"> <strong>Ap</strong></h4>
                                            <p class="wh"></p>
                                        </center>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row" style="padding: 20px">
                                <p class="testimonial_para">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo en.</p><br>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <center class="clntdtl">
                                            <img src="~/images/testimonials/1.jpg" class="imgwth">
                                            <h4 class="wh"><strong>AP</strong></h4>
                                            <p class="wh"></p>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    </div>
                    <div class="controls testimonial_control pull-right">
                        <a class="left fa fa-chevron-left btn btn-default testimonial_btn" href="#carousel-example-generic"
                           data-slide="prev"></a>
                        <a class="right fa fa-chevron-right btn btn-default testimonial_btn" href="#carousel-example-generic"
                           data-slide="next"></a>
                    </div>
                </div>
            </div>
    </div>
</section>

<section class="latest_work  sub_content hidden-md hidden-lg hidden-sm" style="background: aliceblue !important">
    <div class="container" style="width:96%">
        <div class="crsl1">
            <div class="dividerHeading">
                <h4><span>Our Clients</span> </h4>
            </div>

            <div id="recent-work-sliderc" class="owl-carousel">
                <div class="box">
                    <figure class="touching effect-bubba">
                        <img src="~/images/about/1.jpg" class="img-responsive" />
                    </figure>

                </div>
                <div class="box">
                    <figure class="touching effect-bubba">
                        <img src="~/images/about/2.jpg" class="img-responsive" />
                    </figure>

                </div>
                <div class="box">
                    <figure class="touching effect-bubba">
                        <img src="~/images/about/3.jpg" class="img-responsive" />
                    </figure>

                </div>
                <div class="box">
                    <figure class="touching effect-bubba">
                        <img src="~/images/about/4.jpg" class="img-responsive" />
                    </figure>

                </div>
                <div class="box">
                    <figure class="touching effect-bubba">
                        <img src="~/images/about/5.jpg" class="img-responsive" />
                    </figure>

                </div>
                <div class="box">
                    <figure class="touching effect-bubba">
                        <img src="~/images/about/6.jpg" class="img-responsive" />
                    </figure>

                </div>
                <div class="box">
                    <figure class="touching effect-bubba">
                        <img src="~/images/about/7.jpg" class="img-responsive" />
                    </figure>

                </div>
                <div class="box">
                    <figure class="touching effect-bubba">
                        <img src="~/images/about/8.jpg" class="img-responsive" />
                    </figure>

                </div>
                <div class="box">
                    <figure class="touching effect-bubba">
                        <img src="~/images/about/9.jpg" class="img-responsive" />
                    </figure>

                </div>
                <div class="box">
                    <figure class="touching effect-bubba">
                        <img src="~/images/about/10.jpg" class="img-responsive" />
                    </figure>

                </div>
                <div class="box">
                    <figure class="touching effect-bubba">
                        <img src="~/images/about/11.jpg" class="img-responsive" />
                    </figure>

                </div>
                <div class="box">
                    <figure class="touching effect-bubba">
                        <img src="~/images/about/12.jpg" class="img-responsive" />
                    </figure>

                </div>
                <div class="box">
                    <figure class="touching effect-bubba">
                        <img src="~/images/about/13.jpg" class="img-responsive" />
                    </figure>

                </div>
                <div class="box">
                    <figure class="touching effect-bubba">
                        <img src="~/images/about/14.jpg" class="img-responsive" />
                    </figure>

                </div>
                <div class="box">
                    <figure class="touching effect-bubba">
                        <img src="~/images/about/15.jpg" class="img-responsive" />
                    </figure>

                </div>
                <div class="box">
                    <figure class="touching effect-bubba">
                        <img src="~/images/about/16.jpg" class="img-responsive" />
                    </figure>

                </div>
            </div>
        </div>

    </div>
</section>

<section class="feature_bottom hk hidden-xs">
    <div class="container">
        <div class="col-lg-12">
            <!-- TESTIMONIALS -->
            <h2 class="lgst">Our Clients</h2>
            <ul class="logos-list">
                <li><img src="~/images/about/1.jpg" class="img-responsive" /></li>
                <li><img src="~/images/about/2.jpg" class="img-responsive" /></li>
                <li><img src="~/images/about/3.jpg" class="img-responsive" /></li>
                <li><img src="~/images/about/4.jpg" class="img-responsive" /></li>
                <li><img src="~/images/about/5.jpg" class="img-responsive" /></li>
                <li><img src="~/images/about/6.jpg" class="img-responsive" /></li>
                <li><img src="~/images/about/7.jpg" class="img-responsive" /></li>
                <li><img src="~/images/about/8.jpg" class="img-responsive" /></li>
                <li><img src="~/images/about/9.jpg" class="img-responsive" /></li>
                <li><img src="~/images/about/10.jpg" class="img-responsive" /></li>
                <li><img src="~/images/about/11.jpg" class="img-responsive" /></li>
                <li><img src="~/images/about/12.jpg" class="img-responsive" /></li>
                <li><img src="~/images/about/13.jpg" class="img-responsive" /></li>
                <li><img src="~/images/about/14.jpg" class="img-responsive" /></li>
                <li><img src="~/images/about/15.jpg" class="img-responsive" /></li>
                <li><img src="~/images/about/16.jpg" class="img-responsive" /></li>

            </ul>
        </div>
    </div>
</section>

<div class="wave2"></div>

<script>
    $(document).ready(function () {


        //loadData();

    });


    
    


     function loadData() {

        debugger;
        $.ajax({
            url: "/dashboard/SelectFeedBackDetails",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                for (var i = 0; i <= result.length; i++)
                {
                       var mark=      "<div class='item'> "+
                                 "<div class='row' style='padding: 20px'>" +
                                 "<p class='testimonial_para' >" + result[i].feedback + "</p><br> " +
                               " <div class='row'>" +
                                 "   <div class='col-lg-12'> "+
                                  "      <center class='clntdtl'>"+
                                 "   <img src='~/images/testimonials/1.jpg' class='imgwth'>" +
                                 "  <h4  class='wh'><strong>" + result[i].name + "</strong></h4>" +
                                          "  <p class='wh'></p>"+
                                       " </center>"+
                                   " </div>"+
                              "  </div>"+
                          "  </div> "+
                        " </div>"
                      $("#carousel-example-generic").append(mark);
                }
              
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>

