﻿
@{
    ViewBag.Title = "PRINTING_PLOTTER_CUTTING";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/sky-tabs.css" rel="stylesheet" />
<section style="background:url('../images/bg.jpg');padding:100px 0px">
    <div class="container">
        <div class="col-lg-12 col-xs-12 col-sm-12 bdbx">
            <h1>FLEX PRINTING </h1>
            <p>We use the latest in print technology to produce our surface graphics to the highest quality and standard to guarantee an exceptional visual solution. Our production team are highly skilled professionals and experts in transforming what we create on screen into real life design features for your office space.</p>

        </div>
    </div>
    <div class="container">
        <div class="sky-tabs sky-tabs-pos-top-left sky-tabs-anim-flip sky-tabs-response-to-stack">
            <input type="radio" name="sky-tabs" checked id="sky-tab1" class="sky-tab-content-1">
            <label for="sky-tab1"><span><span><i class="fa fa-bolt"></i>Stand Rollen</span></span></label>

            <input type="radio" name="sky-tabs" id="sky-tab2" class="sky-tab-content-2">
            <label for="sky-tab2"><span><span><i class="fa fa-picture-o"></i>Normal Flex</span></span></label>

            <input type="radio" name="sky-tabs" id="sky-tab3" class="sky-tab-content-3">
            <label for="sky-tab3"><span><span><i class="fa fa-cogs"></i>Stor Flex</span></span></label>

            <input type="radio" name="sky-tabs" id="sky-tab4" class="sky-tab-content-4">
            <label for="sky-tab4"><span><span><i class="fa fa-globe"></i>Vinyl Sticken</span></span></label>
            <input type="radio" name="sky-tabs" id="sky-tab5" class="sky-tab-content-5">
            <label for="sky-tab5"><span><span><i class="fa fa-globe"></i>Auto Stiken</span></span></label>
            <input type="radio" name="sky-tabs" id="sky-tab6" class="sky-tab-content-6">
            <label for="sky-tab6"><span><span><i class="fa fa-globe"></i>Blacwit Flon</span></span></label>
            <ul>
                <li class="sky-tab-content-1">
                    <div class="typography">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                @*<li data-target="#myCarousel" data-slide-to="2"></li>*@
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/images/17.jpg" alt="Los Angeles" style="width:100%;height:218px">
                                </div>

                                <div class="item">
                                    <img src="~/images/11.jpg" alt="Chicago" style="width:100%;height:218px">
                                </div>

                                @*<div class="item">
                                        <img src="~/images/18.jpg" alt="New york" style="width:100%;height:218px">
                                    </div>*@
                            </div>

                            <!-- Left and right controls -->
                            @*<a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                  <span class="glyphicon glyphicon-chevron-left"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                  <span class="glyphicon glyphicon-chevron-right"></span>
                                  <span class="sr-only">Next</span>
                                </a>*@
                        </div>
                        <h1>Stand Rollen</h1>
                        <p>We are the suppliers and manufacturers of all types of flex printing jobs and installation. We have Konica Flex Printing Machines to Provide 7200 sq ft flex Printing in a Day. We have flex printing machines, color edge machine and Eco solvent flex printing machines. We do bulk flex printing for corporate and companies, we use Quality flex and other good flex printing. Flex printing is done on 180 and 360 dpi. printing of hoardings and back light board printing and for vinyl printing .Flex printing is used for the outdoor publicity in the form of hoardings, dealer boards, kiosks, flex printing can also be used for banner printing, outdoor banner printing is for short time, banner printing is very cheap and effective, banner printing is used for instant impact in the market, flex printing banner are far better than handmade banners as they have better results and long life. Banner printing can be done up to 120 inch wide.</p>
                        <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
                            <ul class="bottommargin">
                                <li>
                                    <b class="clrtb">Flex glow sign boards</b>
                                </li>
                                <li>
                                    <b class="clrtb"> Acrylic letter on flex sign board</b>
                                </li>
                                <li>
                                    <b class="clrtb"> Acrylic letters with acp sheet sign boards</b>
                                </li>
                                <li>
                                    <b class="clrtb">Vinyl glow sign boards</b>
                                </li>
                                <li>
                                    <b class="clrtb"> Digital printed glow sign boards.</b>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
                            <ul class="bottommargin">
                                <li>
                                    <b class="clrtb">Front lit glow sign boards</b>
                                </li>
                                <li>
                                    <b class="clrtb">PVC Glow Signs</b>
                                </li>
                                <li>
                                    <b class="clrtb">One Way Vision</b>
                                </li>
                                <li>
                                    <b class="clrtb">Backlit Glow Sign Boards</b>
                                </li>

                            </ul>
                        </div>
                    </div>
                </li>

                <li class="sky-tab-content-2">
                    <div class="typography">

                        <div id="arousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#arousel" data-slide-to="0" class="active"></li>
                                <li data-target="#arousel" data-slide-to="1"></li>
                                @*<li data-target="#arousel" data-slide-to="2"></li>*@
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/images/17.jpg" alt="Los Angeles" style="width:100%;height:218px">
                                </div>

                                <div class="item">
                                    <img src="~/images/11.jpg" alt="Chicago" style="width:100%;height:218px">
                                </div>

                                @*<div class="item">
                                        <img src="~/images/18.jpg" alt="New york" style="width:100%;height:218px">
                                    </div>*@
                            </div>

                            <!-- Left and right controls -->
                            @*<a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                  <span class="glyphicon glyphicon-chevron-left"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                  <span class="glyphicon glyphicon-chevron-right"></span>
                                  <span class="sr-only">Next</span>
                                </a>*@
                        </div>
                        <h1>Normal Flex</h1>
                        <p>We are the suppliers and manufacturers of a vinyl banners , flex banners , trade show banners , promotional banners , sale banner at cheap and affordable prices and rates with best of the quality , We can provide you the best of the quality and quick service for all types vinyl banners flex printing banners , display banners , promotional banners , custom banners. We print our own high resolution, high quality vinyl signs, banners and billboards and we can offer the same quality to you at a lower cost to you.</p>
                        <p> Our Services in Vinyl Printing are –</p>
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <ul class="bottommargin">
                                <li>
                                    <b class="clrtb">Digital Flex printing custom banners</b>
                                </li>
                                <li>
                                    <b class="clrtb"> Full color printing (cmyk)</b>
                                </li>
                                <li>
                                    <b class="clrtb"> Vinyl printing</b>
                                </li>
                                <li>
                                    <b class="clrtb"> High resolution printing.</b>
                                </li>
                                <li>
                                    <b class="clrtb"> Building exteriors</b>
                                </li>
                                <li>
                                    <b class="clrtb"> wholesale signs</b>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <ul class="bottommargin">
                                <li>
                                    <b class="clrtb">Retail sign boards</b>
                                </li>
                                <li>
                                    <b class="clrtb">Store banners</b>
                                </li>
                                <li>
                                    <b class="clrtb"> Stadium signs and signage</b>
                                </li>
                                <li>
                                    <b class="clrtb">Showroom banners</b>
                                </li>
                                <li>
                                    <b class="clrtb">Showroom posters</b>
                                </li>
                                <li>
                                    <b class="clrtb"> Outdoor banners</b>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="sky-tab-content-3">
                    <div class="typography">
                        <div id="rousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#rousel" data-slide-to="0" class="active"></li>
                                <li data-target="#rousel" data-slide-to="1"></li>
                                @*<li data-target="#myCarousel" data-slide-to="2"></li>*@
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/images/17.jpg" alt="Los Angeles" style="width:100%;height:218px">
                                </div>

                                <div class="item">
                                    <img src="~/images/11.jpg" alt="Chicago" style="width:100%;height:218px">
                                </div>

                            </div>


                        </div>
                        <h1>Stor Flex</h1>
                        <p>We offer our valuable customers Latex Printing Services. Our output is in complete sync with the customer requirements. By providing flawless results, we help our customers in promoting their brands effectively. The designs that are printed do not fade away with the passage of time or due to exposure to various damaging factors. We make use of the latest technology for rendering our services. Our services are competitively priced.</p>
                        <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
                            <ul class="bottommargin">

                                <li>
                                    <b class="clrtb">Flawless results</b>
                                </li>
                                <li>
                                    <b class="clrtb"> Spectacular results.r</b>
                                </li>
                                <li>
                                    <b class="clrtb"> Advanced technology applied</b>
                                </li>
                                <li>
                                    <b class="clrtb"> Premium quality colors and other materials used</b>
                                </li>
                                <li>
                                    <b class="clrtb"> Attention grabbing output</b>
                                </li>
                                <li>
                                    <b class="clrtb">  3D Slider</b>
                                </li>
                            </ul>
                        </div>
                        @*<div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                                <ul class="bottommargin">
                                    <p><b>Features :</b></p>
                                    <li>
                                        <b class="clrtb">Compact design</b>
                                    </li>
                                    <li>
                                        <b class="clrtb">Easy to install on the road</b>
                                    </li>
                                    <li>
                                        <b class="clrtb">Durable</b>
                                    </li>

                                </ul>
                            </div>*@
                    </div>
                </li>

                <li class="sky-tab-content-4">
                    <div class="typography">
                        <div id="ousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#ousel" data-slide-to="0" class="active"></li>
                                <li data-target="#ousel" data-slide-to="1"></li>
                                @*<li data-target="#myCarousel" data-slide-to="2"></li>*@
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/images/17.jpg" alt="Los Angeles" style="width:100%;height:218px">
                                </div>

                                <div class="item">
                                    <img src="~/images/11.jpg" alt="Chicago" style="width:100%;height:218px">
                                </div>

                            </div>


                        </div>
                        <h1>Vinyl Sticken</h1>
                        <p>We offer Eco Solvent Printing which is now a booming trend. Companies have begun to recognize the profits of eco solvent printing. Broadly eco solvent printing is used for creating ads on cars, buses, etc. Apart from cars and buses, eco solvent printing is also used for printing long-term building-sized banners. This type of printing has longer service life and does not easily get affected by sun light, air, etc.</p>
                        <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
                            <ul class="bottommargin">

                                <li>
                                    <b class="clrtb">True reproduction of color</b>
                                </li>
                                <li>
                                    <b class="clrtb"> Used for advertising or promotions</b>
                                </li>
                                <li>
                                    <b class="clrtb">  Reasonable pricing</b>
                                </li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li class="sky-tab-content-5">
                    <div class="typography">
                        <div id="usel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#usel" data-slide-to="0" class="active"></li>
                                <li data-target="#usel" data-slide-to="1"></li>
                                @*<li data-target="#myCarousel" data-slide-to="2"></li>*@
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/images/17.jpg" alt="Los Angeles" style="width:100%;height:218px">
                                </div>

                                <div class="item">
                                    <img src="~/images/11.jpg" alt="Chicago" style="width:100%;height:218px">
                                </div>

                            </div>


                        </div>
                        <h1>Auto Stiken</h1>
                        <p>Our range of Roland Plotter Cutting uses steel axes for accurate cutting. It also avoids slippage during the cutting of long materials. The ultra pressure of the foison helps in punching of thick engineering materials and sheets. Being completely user-friendly our forson cutting plotters modify the cutting pressure and operating speeds as per the requirement.</p>

                    </div>
                </li>
                <li class="sky-tab-content-6">
                    <div class="typography">
                        <div id="usel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#usel" data-slide-to="0" class="active"></li>
                                <li data-target="#usel" data-slide-to="1"></li>
                                @*<li data-target="#myCarousel" data-slide-to="2"></li>*@
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/images/17.jpg" alt="Los Angeles" style="width:100%;height:218px">
                                </div>

                                <div class="item">
                                    <img src="~/images/11.jpg" alt="Chicago" style="width:100%;height:218px">
                                </div>

                            </div>


                        </div>
                        <h1>Blacwit Flon</h1>
                        <p>Our range of Roland Plotter Cutting uses steel axes for accurate cutting. It also avoids slippage during the cutting of long materials. The ultra pressure of the foison helps in punching of thick engineering materials and sheets. Being completely user-friendly our forson cutting plotters modify the cutting pressure and operating speeds as per the requirement.</p>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

