﻿
@{
    ViewBag.Title = "ROAD_TRAFFIC_SAFETY_SIGNAGE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/sky-tabs.css" rel="stylesheet" />
<section style="background:url('../images/bg.jpg');padding:100px 0px">
    <div class="container">
        <div class="col-lg-12 col-xs-12 col-sm-12 bdbx">
            <h1>Office Stationary Offset Printing</h1>
            <p>We are a leading manufacturer of Traffic & Safety Signage board. which are widely used on various highway roads state gov. and local municipalities, contractors, businesses and individuals.. Fabricated using high grade raw materials, these sign boards are of highly reflective quality, weather resistant and last for a long period of time. We make them accessible in customized specifications as well.</p>
            <p>We offers many items, including road traffic signs, street name signs, parking & handicapped signs, construction and custom signs. Our staff has extensive experience in the traffic industry as well as construction, work zone and graphic arts.</p>

        </div>
        </div>
        <div class="container">
            <div class="sky-tabs sky-tabs-pos-top-left sky-tabs-anim-flip sky-tabs-response-to-stack">
                <input type="radio" name="sky-tabs" checked id="sky-tab1" class="sky-tab-content-1">
                <label for="sky-tab1"><span><span><i class="fa fa-bolt"></i>Single Color Offset</span></span></label>

                <input type="radio" name="sky-tabs" id="sky-tab2" class="sky-tab-content-2">
                <label for="sky-tab2"><span><span><i class="fa fa-picture-o"></i>Multi Color Offset</span></span></label>

                <input type="radio" name="sky-tabs" id="sky-tab3" class="sky-tab-content-3">
                <label for="sky-tab3"><span><span><i class="fa fa-cogs"></i>Screen</span></span></label>

                @*<input type="radio" name="sky-tabs" id="sky-tab4" class="sky-tab-content-4">
                <label for="sky-tab4"><span><span><i class="fa fa-globe"></i>Newton</span></span></label>*@

                <ul>
                    <li class="sky-tab-content-1">
                        <div class="typography">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    @*<li data-target="#myCarousel" data-slide-to="2"></li>*@
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="~/images/18.jpg" alt="Los Angeles" style="width:100%;height:218px">
                                    </div>

                                    <div class="item">
                                        <img src="~/images/20.jpg" alt="Chicago" style="width:100%;height:218px">
                                    </div>

                                    @*<div class="item">
                                        <img src="~/images/18.jpg" alt="New york" style="width:100%;height:218px">
                                    </div>*@
                                </div>

                                <!-- Left and right controls -->
                                @*<a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                  <span class="glyphicon glyphicon-chevron-left"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                  <span class="glyphicon glyphicon-chevron-right"></span>
                                  <span class="sr-only">Next</span>
                                </a>*@
                            </div>
                            <h1>Single Color Offset</h1>
                            <p>We fabricate facility Information signs which are used to provide information about various aspects in different facilities like hospitals, airports and public conveniences. Our facility signs are made in a way that ensures that these signs gain attention of the people even from distances.</p>
                            <p> Direction boards are one of the most important and significant role playing necessities for the current generation of crowded and sophisticated maps all around. We are manufacturing these highly essential direction boards using best quality materials which last much longer and are capable to withstand every weather conditions. These direction boards are made of light material supported by a tough and tensile stand which can easily be placed at any desired place in a convenient manner.</p>

                        </div>
                    </li>

                    <li class="sky-tab-content-2">
                        <div class="typography">

                            <div id="arousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#arousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#arousel" data-slide-to="1"></li>
                                    @*<li data-target="#arousel" data-slide-to="2"></li>*@
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="~/images/5.jpg" alt="Los Angeles" style="width:100%;height:218px">
                                    </div>

                                    <div class="item">
                                        <img src="~/images/2.jpg" alt="Chicago" style="width:100%;height:218px">
                                    </div>

                                    @*<div class="item">
                                        <img src="~/images/18.jpg" alt="New york" style="width:100%;height:218px">
                                    </div>*@
                                </div>

                                <!-- Left and right controls -->
                                @*<a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                  <span class="glyphicon glyphicon-chevron-left"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                  <span class="glyphicon glyphicon-chevron-right"></span>
                                  <span class="sr-only">Next</span>
                                </a>*@
                            </div>
                            <h1>Multi Color Offset</h1>
                            <p>We fabricate Cantilever boards that are made from the best steel sheets and covered with paints that are visible from long distances. Our cantilever board have a single post and these boards hang from one side of the road.</p>
                            @*<p> Direction boards are one of the most important and significant role playing necessities for the current generation of crowded and sophisticated maps all around. We are manufacturing these highly essential direction boards using best quality materials which last much longer and are capable to withstand every weather conditions. These direction boards are made of light material supported by a tough and tensile stand which can easily be placed at any desired place in a convenient manner.</p>*@

                        </div>
                    </li>

                    <li class="sky-tab-content-3">
                        <div class="typography">
                            <div id="rousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#rousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#rousel" data-slide-to="1"></li>
                                    @*<li data-target="#myCarousel" data-slide-to="2"></li>*@
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="~/images/7.jpg" alt="Los Angeles" style="width:100%;height:218px">
                                    </div>

                                    <div class="item">
                                        <img src="~/images/18.jpg" alt="Chicago" style="width:100%;height:218px">
                                    </div>

                                </div>


                            </div>
                            <h1>Screen</h1>
                            <p>These are compulsory signs to regulate the movement of traffic.They are usually circular in shape with white background,red border,black legends and red bars.</p>
                            <p>We have gained expertise in manufacturing and supplying a quality range of Mandatory Sign Boards. The range we offer is manufactured using finest quality material that is sourced from most trusted vendors of market. Post-production, these affordable boards are stringently inspected on certain parameters of quality in order to rule out every possibility of defect.</p>

                        </div>
                    </li>

                    @*<li class="sky-tab-content-4">
                        <div class="typography">
                            <h1>Isaac Newton</h1>
                            <p>English physicist and mathematician who is widely regarded as one of the most influential scientists of all time and as a key figure in the scientific revolution. His book Philosophiæ Naturalis Principia Mathematica ("Mathematical Principles of Natural Philosophy"), first published in 1687, laid the foundations for most of classical mechanics. Newton also made seminal contributions to optics and shares credit with Gottfried Leibniz for the invention of the infinitesimal calculus.</p>
                            <p>Newton's Principia formulated the laws of motion and universal gravitation that dominated scientists' view of the physical universe for the next three centuries. It also demonstrated that the motion of objects on the Earth and that of celestial bodies could be described by the same principles. By deriving Kepler's laws of planetary motion from his mathematical description of gravity, Newton removed the last doubts about the validity of the heliocentric model of the cosmos.</p>
                            <p class="text-right"><em>Find out more about Isaac Newton from <a href="http://en.wikipedia.org/wiki/Isaac_Newton" target="_blank">Wikipedia</a>.</em></p>
                        </div>
                    </li>*@
                </ul>
            </div>
        </div>
</section>

